.dashboard-container {
  font-family: "Poppins", sans-serif;
}

.topbar {
  display: flex;
  justify-content: space-between;
  background: #2563eb;
  color: white;
  padding: 15px;
}

.sidebar {
  width: 220px;
  background: #1e293b;
  color: white;
  min-height: 100vh;
  transition: 0.3s;
}

.sidebar ul li {
  padding: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar ul li:hover {
  background: #2563eb;
}

.main-content {
  padding: 20px;
  flex: 1;
  animation: fadeIn 0.5s ease;
}

.body-container {
  display: flex;
}

.cards-grid {
  display: flex;
  gap: 20px;
}

.card {
  padding: 20px;
  border-radius: 15px;
  color: white;
  flex: 1;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.pending { background: #f59e0b; }
.accepted { background: #16a34a; }
.rescheduled { background: #2563eb; }

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.notif-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background: white;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  padding: 10px;
  z-index: 1000;
}

.notif-item {
  padding: 8px;
  border-bottom: 1px solid #eee;
}

.today-box {
  margin-top: 20px;
}

.notif-card {
  background: #f1f5ff;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
}

.right-top {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile-name {
  cursor: pointer;
  font-weight: 500;
}

.logout-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.logout-btn:hover {
  color: red;
}

.notification-dropdown{
  position:absolute;
  top:60px;
  right:20px;
  width:320px;
  max-height:400px;
  overflow-y:auto;
  background:#ffffff;
  border-radius:12px;
  padding:15px;
  border:1px solid #dbeafe;
  box-shadow:0 6px 18px rgba(37,99,235,0.15);
  z-index:999;
}

.notification-dropdown h4{
  margin:12px 0 10px;
  font-size:15px;
  font-weight:600;
  color:#1e3a8a;
  border-bottom:1px solid #dbeafe;
  padding-bottom:5px;
}
.notif-item{
  background:#eff6ff;
  color:#1e293b;
  padding:12px;
  border-left:4px solid #2563eb;
  border-radius:10px;
  margin-bottom:10px;
  font-size:14px;
  font-weight:500;
  transition:0.3s;
}


.notif-item:hover{
  background:#dbeafe;
  transform:translateX(3px);
   color:#dbeafe;
}


.empty-notif{
  color:#64748b;
  font-size:13px;
  margin-bottom:12px;
}

.notif-badge{
  position:absolute;
  top:-5px;
  right:-5px;
  background:#ef4444;
  color:white;
  border-radius:50%;
  width:15px;
  height:15px;
  font-size:9px;
  font-weight:600;
  display:flex;
  align-items:center;
  justify-content:center;
  border:1.5px solid white;
}

.notification-icon{
  position:relative;
  cursor:pointer;
  font-size:24px;
  display:flex;
  align-items:center;
  justify-content:center;
  transition:0.3s;
}






