.video-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #0f172a;
  color: white;
}

.video-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  background: #1e293b;
}

.call-info {
  display: flex;
  gap: 15px;
  align-items: center;
}

.call-info button {
  background: red;
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  color: white;
}

.video-container {
  flex: 1;
}

.loader {
  text-align: center;
  padding: 10px;
}

.loader button {
  margin: 5px;
  padding: 8px 14px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.loader button:first-child {
  background: green;
  color: white;
}

.loader button:last-child {
  background: red;
  color: white;
}